.custum-table-row-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
  align-items: center;
  border-top: 1px solid #ddd;
  border-bottom:  1px solid #ddd;
  flex-wrap: wrap;
  .custum-table-header-block {
    font-weight: 800;
    font-size: 1rem;
  }
}
