<div class="custom-table">
  <div class="search-container">
      <div class="search-bar">
          <h4 class='table-header'>Simple Table</h4>
          <div>
              <input type="text"  placeholder="search" [formControl]='searchControl' />
          </div>
      </div>
      <div>
          <button (click)="showDialog()">Add Employee</button>
      </div>
  </div>
  <div class="custom-table">
    <custom-table-row-header
      (id)="sortFunction($event, 'id')"
      (jobTitle)="sortFunction($event, 'job_title')"
      (fullName)="sortFunction($event, 'full_name')"
      (phoneNumber)="sortFunction($event, 'phone_number')"
      (email)="sortFunction($event, 'email')"
      (region)="sortFunction($event, 'region')"
      (dateOfBirth)="sortFunction($event, 'dob')"
    ></custom-table-row-header>
    <div class="custom-table-data">
        <custom-table-row
          *ngFor="let employee of listEmployee"
          (delete)="deleteEmployee(employee.id)"
          (edit)="editEmployee(employee)"
          [employee]="employee" >
        </custom-table-row>
    </div>
    <div class="pagination">
        <a href="#" (click)="setPaginationBackWard()">&laquo;</a>
        <a href="#" *ngFor="let i of paginationListSlice"
          [ngClass]="{'active-class': i === activePaginationIndex }"
          (click)="setCurrentPagination(i)"
          >{{i}}</a>
        <a href="#" (click)="setPaginationForward()">&raquo;</a>
    </div>
  </div>
</div>
<custom-add-employee
[visible]='showAddEmployeeDialog'
(modelClose)="showAddEmployeeDialog=false"
(employeeAddSuccess)="addNewEmployee($event)"
></custom-add-employee>
<custom-edit-employee
  [currentEmployee]='currentEmployeeForEdit'
  (editCancel)="currentEmployeeForEdit=null"
  (employeeEditSuccess)="editEmployeeSuccess($event)"
>
</custom-edit-employee>
