<div class="custom-table">
  <h4>Simple Table</h4>
  <div class="custom-table">
    <custom-table-row-header></custom-table-row-header>
    <custom-table-row></custom-table-row>
    <custom-table-row></custom-table-row>
    <custom-table-row></custom-table-row>
    <custom-table-row></custom-table-row>
    <custom-table-row></custom-table-row>
    <custom-table-row></custom-table-row>
    <custom-table-row></custom-table-row>
    <custom-table-row></custom-table-row>
    <custom-table-row></custom-table-row>
    <custom-table-row></custom-table-row>
    <custom-table-row></custom-table-row>
    <custom-table-row></custom-table-row>
    <custom-table-row></custom-table-row>
    <custom-table-row></custom-table-row>
  </div>
</div>
