<div class="custom-table">
  <div class="search-container">
      <h4 class='table-header'>Simple Table</h4>
      <input type="text"  placeholder="search" [formControl]='searchControl' />
  </div>
  <div class="custom-table">
    <custom-table-row-header
      (id)="sortFunction($event, 'id')"
      (jobTitle)="sortFunction($event, 'job_title')"
      (fullName)="sortFunction($event, 'full_name')"
      (phoneNumber)="sortFunction($event, 'phone_number')"
      (email)="sortFunction($event, 'email')"
      (region)="sortFunction($event, 'region')"
      (dateOfBirth)="sortFunction($event, 'dob')"
    ></custom-table-row-header>
    <div class="custom-table-data">
        <custom-table-row
          *ngFor="let employee of listEmployee"
          [employee]="employee" >
        </custom-table-row>
    </div>
    <div class="pagination">
        <a href="#" (click)="setPaginationBackWard()">&laquo;</a>
        <a href="#" *ngFor="let i of paginationListSlice"
          [ngClass]="{'active-class': i=== activePaginationIndex }"
          (click)="setCurrentPagination(i)"
          >{{i}}</a>
        <a href="#" (click)="setPaginationForward()">&raquo;</a>
    </div>
  </div>
</div>
