<div class='custum-table-row'>
  <div class="custom-table-block">E{{employee.id}}</div>
  <div class="custom-table-block">{{employee.jobTitleName}} </div>
  <div class="custom-table-block">{{employee.firstName+" "+employee.lastName}}</div>
  <div class="custom-table-block">{{employee.phoneNumber}}</div>
  <div class="custom-table-block">{{employee.emailAddress}}</div>
  <div class="custom-table-block">{{employee.region}}</div>
  <div class="custom-table-block">{{employee.dob}}</div>
  <div class="custom-table-block">
    <button>edit</button>
    <button>view</button>
    <button>delete</button>
  </div>
</div>
