.custum-table-row {
   display: flex;
   width: 100%;
   flex-direction: row;
   align-items: center;
   border-top: 1px solid #ddd;
   border-bottom:  1px solid #ddd;
   flex-wrap: wrap;
   justify-content: space-around;
   .custom-table-block {
     padding: 8px;
     width: (98%/10);
     overflow: hidden;
     align-self: center;
     word-wrap: break-word;
   }
}
